body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  --primary-main-color: #3f51b5;
  --gray-100: #f5f5f5;
}

.base-template {
  margin: 0 auto;
  padding: 8px;
  max-width: 425px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
