body {
  margin: 0;
}

.base-template {
  margin: 0 auto;
  padding: 8px;
  max-width: 425px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.fab {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
