.stats-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &__title {
    padding-bottom: 0;
    user-select: none;
    margin: 8px 0 16px;
  }

  &__values {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  &__link {
    text-align: center;
  }
}
