.stats-panel {
  display: flex;
  flex-direction: column;

  &__header {
    padding-bottom: 0;
    user-select: none;
  }

  &__info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .info {
      user-select: none;

      &__title {
        font-weight: 500;
      }
    }
  }
}
